/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */

html {
  font-size: 14px;
  width: 100%;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  color: #eee;
  text-align: left;
}

header, footer {
  width: 100%;
}

ul, ol {
  list-style-type: none;
}

a {
  color: #eee;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
}

h2 {
  font-size: 1.71em;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
}

h3 {
  font-size: 1.29em;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
}

h4 {
  font-size: 1.125em;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

/*----------- Base Header - Footer Styles -------------*/

 header, footer {
   display: flex;
   flex-flow: row wrap;
 }

 /* Header Styles */


 header h2 {
   font-family: 'Satisfy', cursive;
   width: 100%;
   margin: 20px 50px 0 25px;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
 }

/* Menu Items */

nav {
  overflow: hidden;
  background-color: #eee;
  margin-top: 25px;
}

nav ul {
  display: none;
}


nav ul li a {
  background-color: #eee;
  color: #2c2c2c;
  padding: 14px 16px;
  font-size: 1.29em;
  display: block;
  width: 768px;
}

nav a.icon {
  display: block;
  position: absolute;
  right: 25px;
  top: 25px;
}

nav a:hover {
  color: #d49488;
}

 /* Footer */

 footer {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #2c2c2c;
   flex-direction: column;
   text-align: center;
 }

 footer p {
   margin: 0;
   color: #eee;
 }

 footer .content-wrapper {
   width: 55%;
   margin: 50px 0;
 }

 footer .social-icons {
   display: flex;
   justify-content: space-around;
   align-items: center;
 }

 footer .social-icons p {
   background-color: #d6b880;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
 }


footer .social-icons p i {
  font-size: 1.25em;
}

footer .copyright {
  margin: 20px 0;
  text-align: center;
}

/* ---------------- Mobile Styles - Homepage --------------- */


/* Header */

header h2 a {
  color: #2c2c2c;
}

header h2 a:hover {
  color: #d49488;
}

/* Hero Area */

.hero-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.hero-area figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text-block {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  right: 250px;
  left: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Intro */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2c2c2c;
}

.intro .content-wrapper {
  margin-bottom: 0;
}

.intro p {
  text-transform: uppercase;
  margin: 30px;
}

.intro i {
  font-size: 2em;
}

/* Work */

.work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  color: #2c2c2c;
}

.work .content-wrapper {
  margin-top: 10px;
}

.work article {
  margin: 80px 0 80px 0;
}

.work h3 {
  font-weight: 600;
  font-size: 1.5em;
}

button {
  padding: 18px;
  margin-top: 10px;
  background-color: #d6b880;
  color: #eee;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: .1em;
  border: none;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: -1px 7px 10px #2c2c2c;
}

button a {
  color: #eee;
}

button i {
  margin-left: 15px;
}

button:hover {
  cursor: pointer;
  background-color: #D6A553
}

/* Client Raves */

.client-raves {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2c2c2c;
  text-align: center;
  background-color: #c3d9d8;
}

/* My Skills */

.my-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2c2c2c;
}

.skills-boxes {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

.skill-box {
  border: 3px #2c2c2c solid;
  margin: 30px 50px 0 50px;
}

/* Message Me */

.message-me {
  background-color: #d49488;
  display: flex;
  justify-content: center;
  text-align: center;
}

.message-me p {
  color: #eee;
}

.message-me button {
  background-color: #e1dfdf;
  box-shadow: -1px 7px 10px #2c2c2c;
}

.message-me button:hover {
  cursor: pointer;
  background-color: #a9a9a9;
}

.message-me button a {
  color: #2c2c2c;
  font-weight: bold;
}

.work .work-divider {
  background: #d3d3d3;
  width: 100%;
  height: 1px;
  margin-top: 60px;
}

/* ---------------- Mobile Styles - About page --------------- */


#about-header {
  background-color: #fff;
}

#about-header h2 a, nav i {
  color: #2c2c2c;
}

.about-me {
  color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.about-content p {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  line-height: 2em;
}

.about-me figure {
  width: 90%;
}

/* Work Together */

.work-together {
  display: flex;
  justify-content: center;
  background-color: #f0bbb1;
  text-align: center;
}

.work-together button {
  background-color: #e1dfdf;
  box-shadow: -1px 7px 10px #2c2c2c;
}

.work-together button:hover {
  cursor: pointer;
  background-color: #a9a9a9;
}

.work-together button a {
  color: #2c2c2c;
}

/* Fun Facts Slider */

.fun-facts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fun-facts h2, p {
  color: #2c2c2c;
}

.slideshow-container {
  position: relative;
}

.facts-slides {
  display: none;
  padding: 60px;
  text-align: center;
}

.facts-slides .number {
  color: #2c2c2c;
  font-size: 1.5em;
}

.facts-slides i {
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #2c2c2c;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 15px;
  background: #eee;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Image Strip */

.fun-facts figure {
  margin-top: 40px;
}

/* ---------------- Mobile Styles - Contact page ------------- */

#contact-header {
  background-color: #fff;
}

#contact-header h2 a, nav i {
  color: #2c2c2c;
}

.contact-content, .contact-form {
  color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content .content-wrapper {
  margin-bottom: 30px;
  margin-top: 30px;
}

.contact-content h3 {
  font-size: 1.15em;
  font-weight: normal;
}

.contact-form .content-wrapper {
  margin-top: 0;
}

form {
  transition: all 4s ease-in-out;
  display: flex;
  flex-flow: column;
}

.form-control {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #2c2c2c;
  color: #2c2c2c;
  margin-bottom: 16px;
  font-size: 1em;
}

input {
  height: 45px;
}

form .submit {
  background: #d49488;
  border-color: transparent;
  color: #eee;
  font-size: 1.2em;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: -1px 7px 10px #a9a9a9;
}

form .submit:hover {
  background-color: #D67C6F;
  cursor: pointer;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Tablet styles 768px and larger */
@media only screen and (min-width: 768px){

.content-wrapper {
  max-width: 640px;
  margin: 100px 0;
}

 /* Header */


 header {
   background-color: #fff;
 }

header h2 {
  margin-left: 40px;
  width: 32%;
}

header h2 a {
  color: #2c2c2c;
}

header nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  background-color: #fff;
}

header nav ul {
  display: flex;
  background-color: #fff;
  margin-right: 40px;
}

nav ul li a {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  padding-right: 40px;
  background-color: #fff;
}

nav a.icon {
  display: none;
}

nav a:hover {
  color: #d49488;
}


/* Hero Area */

.hero-area h1 {
  font-size: 2.3em;
}

.text-block {
  right: 450px;
  left: 40px;
  padding-left: 30px;
  padding-right: 30px;
}


/* Work */

.work article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-basis: 50%;
}

.work .work-description,
.work figure {
  width: 50%;
}

.work .work-divider {
  display: none;
}

/* My Skills */

.skills-boxes {
  flex-flow: row;
}

.skill-box {
  width: 200px;
  height: 200px;
  margin: 10px;
}

/* Message Me */

.message-me .content-wrapper {
  width: 65%;
  margin: 50px 0;
}

/* Footer */

footer .content-wrapper {
  width: 65%;
  margin: 50px 0;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

footer .contact {
  margin-bottom: 0;
}

footer .social-icons {
  width: 12.5em;
  justify-content: space-between;
}

footer .copyright {
  width: 100%;
}

/*---------------- About Page Tablet Styles ------------- */

#about-header nav, #about-header nav ul li a {
  background-color: #fff;
  color: #2c2c2c;
  justify-content: center;
}

#about-header nav a:hover {
  color: #d49488;
}

#about-header nav {
  margin-left: 35px;
}

#about-header h2 {
  width: 35%;
}

#about-header h2 a:hover {
  color: #d49488;
}

#about-header nav {
  width: 43.25%;
}
.about-me .content-wrapper {
  margin-top: 30px;
}

.about-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.about-content p {
  width: 50%;
}

.about-content figure {
  width: 45%;
  padding-left: 30px;
}

.facts-skillset-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
}

.facts, .skillset {
  width: 50%;
  align-items: center;
  justify-content: center;
}

.skillset .skills-circles {
  flex-flow: row;
  justify-content: space-around;
}


/*----------------- Contact Page Tablet Styles ---------- */

#contact-header nav, #contact-header nav ul li a {
  background-color: #fff;
  color: #2c2c2c;
  justify-content: center;
}

#contact-header nav {
  margin-left: 35px;
}

#contact-header nav a:hover {
  color: #d49488;
}

#contact-header h2 a:hover {
  color: #d49488;
}

#contact-header h2 {
  width: 35%;
}

#contact-header nav {
  width: 43.25%;
}

}

/* Desktop styles 1200px and larger */
@media only screen and (min-width: 1200px){

 .content-wrapper {
   max-width: 1000px;
 }

 h1 {
   font-size: 3.1em;
 }

 h2 {
   font-size: 2.2em;
 }

 h3 {
   font-size: 1.6em;
 }

 p {
   font-size: 1.14em;
 }

 nav ul li a {
   font-size: 1.5em;
 }

 /*---- Footer ----*/

 .social-icons {

 }

/*----------------- Home Page Desktop Styles ------------- */

header {
  height: 90px;
}

header h2 {
  margin-left: 100px;
}

nav ul li a {
  padding-right: 90px;
}

/* Hero Area */

.text-block {
  right: 800px;
  left: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

.text-block h1 {
  font-size: 3em;
}

/* Work */

.work h3 {
  font-size: 2em;
  font-weight: bold;
}

/* My Skills */

.skill-box {
  height: 250px;
  width: 300px;
  margin-left: 40px;
}

/* Footer */

footer h3 {
  font-size: 1.6em;
}

/*------------------ About Page Desktop Styles ----------- */


/*------------------- Contact Page Desktop Styles ---------- */


form{
  width: 60%;
}

}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
